.bottom-space {
    height: 100px;
}

.variables-text {
    width: 100%;
    text-align: justify;
}

.chart-descriptions {
    margin-top: 5px;
}

.chart-descriptions-variables {
    margin-top: 100px;
}
