.section {
    margin-bottom: 50px; /* Adjust this value to control the scrolling speed */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 70%;
    text-align: justify;
}

.bottom-space {
    height: 100px;
}